<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="header-logo navbar-brand">Some Money Tracker App</a>
    <form class="d-flex">
      <button *ngIf="isAuthenticated"
              type="button"
              class="header-btn btn-sm btn-success"
              routerLink="/transaction/add"
      >Add transaction</button>
      <button *ngIf="isAuthenticated"
              type="button"
              class="header-btn btn-sm btn-danger"
              (click)="onLogoutClick()"
      >Logout</button>
    </form>
  </div>
</nav>
