<div class="main-home-component container shadow-sm mt-5 pb-5">

  <div class="statistic-wrapper">
    <div class="main-home-statistic mt-2 mb-2">
      <h3 class="h3 m-2 pt-3 pl-5 pr-5 font-weight-light">Income</h3>
      <div class="main-home-statistic-body row pl-5 pr-5">
        <div *ngFor="let account of incomeAccounts" class="main-home-statistic-card col-lg-2 m-3 bg-light">
          <h6 class="main-home-statistic-card-header mt-3 mb-3">{{account['name']}}</h6>
          <div class="main-home-statistic-card-item font-weight-light">Balance: <span>{{account['balance']}} UAH</span></div>
        </div>
      </div>
    </div>

    <div class="main-home-statistic mt-2 mb-2">
      <h3 class="h3 m-2 pt-3 pl-5 pr-5 font-weight-light">Wallets</h3>
      <div class="main-home-statistic-body row pl-5 pr-5">
        <div *ngFor="let account of walletAccounts" class="main-home-statistic-card col-lg-2 m-3 bg-light">
          <h6 class="main-home-statistic-card-header mt-3 mb-3">{{account['name']}}</h6>
          <div class="main-home-statistic-card-item font-weight-light">Balance: <span>{{account['balance']}} UAH</span></div>
        </div>
      </div>
    </div>

    <div class="main-home-statistic mt-2 mb-2">
      <h3 class="h3 m-2 pt-3 pl-5 pr-5 font-weight-light">Expenses</h3>
      <div class="main-home-statistic-body row pl-5 pr-5">
        <div *ngFor="let account of expenseAccounts" class="main-home-statistic-card col-lg-2 m-3 bg-light">
          <h6 class="main-home-statistic-card-header mt-3 mb-3">{{account['name']}}</h6>
          <div class="main-home-statistic-card-item font-weight-light">Balance: <span>{{account['balance']}} UAH</span></div>
        </div>
      </div>
    </div>
  </div>

</div>
