<div class="auth d-flex align-items-center justify-content-center">
  <div class="auth-form text-center">
    <h1 class="h4 font-weight-lighter">Login</h1>
    <div *ngIf="isInvalidCredentials" class="alert alert-danger" role="alert">
      Invalid username or password
    </div>
    <form  class="mt-4"
           [formGroup]="form"
           (ngSubmit)="onSubmit()"
    >
      <div class="form-group mt-2">
        <input type="email"
               class="form-control auth-form-input shadow-sm font-weight-light"
               placeholder="Enter email"
               formControlName="email"
               (input)="onInputChange()"
               [ngClass]="{ 'is-invalid': isFormSubmitted && form.controls['email'].errors }"
        >
      </div>
      <div class="form-group mt-2">
        <input type="password"
               class="form-control auth-form-input shadow-sm font-weight-light"
               placeholder="Enter password"
               formControlName="password"
               (input)="onInputChange()"
               [ngClass]="{ 'is-invalid': isFormSubmitted && form.controls['password'].errors }"
        >
      </div>
      <button type="submit" class="login-btn btn btn-primary btn-block font-weight-light mt-5">Login</button>
    </form>
  </div>
</div>
